/* ------------------------------- Landing Page ------------------------------- */

/* Elements */

body {
    font-family: 'Blinker', sans-serif;
    margin: none;
}

/* Navbar */

.navbar-custom {
    background-color: #06283D;
    padding: 0.5% 0 0.5%;
}

.navbar-brand-custom {
    color: #E9F8F9;
    font-weight: 600;
    font-size: 2rem;
}

.navbar-brand-custom:hover, .navbar-brand-custom:active, .navbar-brand-custom:focus {
    color: #47B5FF;
}

.navbar-div {
    margin: none;
}

.navbar-nav-custom {
    color: #FFFF;
}

.nav-link-custom {
    color: #E9F8F9;
    font-size: 1.2rem;
}

.nav-link-custom:hover, .nav-link-custom:active, .nav-link-custom:focus {
    color: #47B5FF
}

.nav-link-active-custom {
    color: #47B5FF;
    font-size: 1.2rem;
}

.nav-link-active-custom:hover, .nav-link-active-custom:active, .nav-link-active-custom:focus {
    color: #E9F8F9;
}

.nav-item {
    margin: 10px;
    text-align: center;
}

.signup-btn {
    background-color: #1363DF;
    border-color: #1363DF;
    color: #E9F8F9;
    font-size: 1rem;
}

.signup-btn:hover, .signup-btn:active, .signup-btn:focus {
    background-color: #E9F8F9;
    border-color: #E9F8F9;
    color: #1363DF;
}

.social-icon {
    font-size: 2.25rem;
    margin: 0 5px;
}

.social-icon:hover, .social-icon:active, .social-icon:focus {
    color: #47B5FF;
}

.custom-toggler.navbar-toggler {
    background-color: #BDCDD6;
}

/* Title */

.title-div {
    background-color: #BDCDD6;
    color: #06283D;
    padding: 5% 2% 10%;
}

.title {
    font-size: 4.25rem;
    font-weight: 900;
    line-height: 2;
}

.title-text {
    color: #2E3840;
    font-size: 2.5rem;
    font-weight: 600;
}

.title-img-div {
    text-align: center;
}

/* About */

#about {
    background-color: #06283D;
    color: #DFF6FF;
}

.about-div {
    padding: 10% 4%;
}

.about-header {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 3%;
}

.about-text-div {
    padding: 1% 3%;
}

.about-text {
    font-size: 1.25rem;
    text-align: justify;
}

.key-word {
    color: #FFE7CC;
    font-weight: 900;
}


/* What We Teach */

#wwt {
    background-color: #BDCDD6;
    color: #06283D;
}

.wwt-header {
    font-size: 3rem;
    font-weight: 900;
    padding: 5% 0 3%;
    text-align: center;
}

.class-div-dark {
    background-color: #06283D;
    color: #BDCDD6;
}

.class-div-light {
    background-color: #BDCDD6;
}

.class-div-dark, .class-div-light {
    padding: 5% 3%;
}

.class-text-div {
    padding: 3% 5%;
    text-align: justify;
}

.class-text-header {
    font-size: 2rem;
    font-weight: 900;
    line-height: 2;
}

.class-text {
    font-size: 1.2rem;
}

.class-img-div {
    text-align: center;
}

/* Photos */

#photos {
    background-color: #06283D;
}

.photos-div {
    padding: 5% 0;
}


#photoCarousel {
    padding: 3% 5%;
}

.photos-header {
    color: #BDCDD6;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.carousel-div {
    text-align: center;
    padding: 0 7%;
}

.carousel-img {
    margin: auto;
}

/* Call to Action */

.cta-div {
    background-color: #BDCDD6;
    color: #06283D;
    padding: 7% 5%;
    text-align: center;
}

.cta-header {
    line-height: 2;
    font-size: 3rem;
    font-weight: 900;
}

/* Footer */

#footer {
    background-color: #06283D;
    color: #BDCDD6;
}

.footer-div {
    margin: 0;
    padding: 2%;
}

.footer-brand {
    font-size: 2rem;
    font-weight: 900;
}

.address-text {
    font-size: 1.25rem;
}

.address-div {
    font-size: 1.25rem;
    padding-left: 3%;
}

.page-links-div {
    text-decoration: none;
    text-align: right;
}

.page-link {
    font-size: 1.25rem;
    padding-left: 3%;
    padding-bottom: 2%;
}

.page-link:hover, .page-link:active, .page-link:focus {
    color: #47B5FF;
    text-decoration: underline;
}

.footer-img-div {
    padding: 1%;
}

/* -------------------------------------------------------------------------- */

/*----------------------------------- About Us ------------------------------------- */
.about-us-h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

.about-us-h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.about-us-h3 {
    font-size: 2rem;
}

.about-us-text {
    font-size: 1.2rem;
    text-align: justify;
}

.about-us-div {
    background-color: #BDCDD6;
    color: #06283D;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about-page-div {
    padding: 5% 3%;
}

.about-page-div-center {
    text-align: center;
}

.benefits-div {
    padding: 0 3%;
}

.benefits-h2 {
    line-height: 2;
}

.ben-col {
    text-align: justify;
}

/* --------------------------------------------------------------------------------- */

/* ---------------------------------- Classes -------------------------------------- */
/* ------------- FMA --------------- */

/* ---------------------------------- Pricing ----------------------------------- */

.pricing-body {
    margin: none;
}

#pricing {
    background-color: #06283D;
    color: #06283D;
    text-align: center;
}

.pricing-div{
    padding: 3% 0;
}

.pricing-header{
    color: #DFF6FF;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

/* Special Offer */

.special-offer-div {
    padding: 2% 3%;
}

.special-offer-card {
    width: 80%;
    margin: auto;

}

.special-offer-header {
    color: #D21312;
    font-size: 2.5rem;
    font-weight: 600;
}

.special-offer-text {
    font-size: 1.5rem;
}

.special-offer-span {
    text-decoration: underline;
}

.special-offer-footer {
    font-size: 1.2rem;
    font-style: italic;
}

/* Main Programs */

.main-programs {
    margin: 0;
    padding: 2% 3%;
}

.main-program-header {
    font-size: 2.5rem;
    font-weight: 900;
}

.fma-program-header {
    color:#1363DF;
}

.kma-program-header {
    color: #37306B;
}

.combined-program-header {
    color: #00ABB3;
}

.main-program-text {
    font-size: 1.2rem;
}

/* Equipment + Workshops + Private Lessons */

.equipment-and-workshops {
    margin: 0;
    padding: 2% 3%;
}

.equipment-header, .workshop-header {
    font-size: 2.5rem;
    font-weight: 900;
}

.workshop-private-col {
    padding-right: 2%;
}

.workshop-header {
    color: #F97B22;
}

.equipment-card-div {
    padding-right: 1%;
}

.equipment-header {
    color: #454545;
}

.equipment-text, .workshop-text {
    font-size: 1.2rem;
}

.equipment-footer {
    font-size: 1.2rem;
    font-style: italic;
}

.private-lesson-card {
    text-align: center;
}

.private-lesson-header {
    color: #E7B10A;
    font-size: 2.2rem;
    font-weight: 900;
}

.private-lesson-text {
    font-size: 1.5rem;
}

.private-lesson-footer {
    font-size: 1.2rem;
    font-style: italic;
}

/* Blurb */

.pricing-blurb-div {
    background-color: #BDCDD6;
    color: #06283D;
    font-weight: 600;
    padding: 5%;
    text-align: center;
}

.pricing-blurb-text {
    font-size: 2rem;
}

.pricing-blurb-span {
    color: #1363DF;
}

@media (max-width: 769px) {
    .main-program-card-div {
        padding: 2% 0;
    }

    .special-offer-card {
        width: 100%;
    }

    .workshop-card-div, .private-lesson-card-div, .equipment-card-div {
        padding: 2% 0;
    }

    .workshop-private-col {
        padding: 0;
    }
}
/* ------------------------------------------------------------------------------ */

/* ---------------------------------- FAQ ----------------------------------- */

.faq-body {
    background-color: #BDCDD6;
    color: #06283D;
    margin: 0;
}
.faq-div {
    padding: 3% 0;
}

.faq-header {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

.q-a-div {
    padding: 2% 5%;
}

.question {
    font-size: 2.5rem;
    font-weight: 700;
}

.answer {
    font-size: 1.5rem;
    color: #2E3840;
}

/* -------------------------------------------------------------------------- */
